<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.todak">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Intro.self_diagnosis_lung"></activity>
        <activity android:name=".Intro.self_diagnosis" />
        <activity android:name=".Intro.Doubt_search" />
        <activity android:name=".Intro.Main2Activity" />
        <activity android:name=".Intro.main2_Fragment2" />
        <activity android:name=".Intro.MainActivity" />
        <activity android:name=".Intro.Disease_search"/>
        <activity android:name=".Intro.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>